<template>
    <section class="Header"><h1>Welcome, Pepe! &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          Works</h1>
        <section class="Post"><h1>Posts</h1></section>
    </section>
    

    
</template>

<script>
export default {
    name: 'PrincipalPage',
    data: function(){

    },
    methods:{

    },
  created: function () {},
}
</script>

<style>
.Header {
    display:block;
    border-width: 0px;
    border-bottom-width: 1px;
    border-style: solid;
    border-color: lightgray;
    text-indent:10px;

}
.Post {
    color:#009f9d;
    text-indent:20px;
}
</style>