<template>
        <section class="Form">
            <center><section class="titulo" v-on:click="buttonHome"><span>WallArt</span>Comparte tu arte.</section></center>
            <form>
                <input type="text" name="name" placeholder="Nombre">
                <input type="text" name="lastname" placeholder="Apellido">
                <br>
                <input type="text" name="username" placeholder="Username">
                <input type="password" name="password" placeholder="Password">
                <br>
                <input type="email" name="email" placeholder="Email">
                <input type="number" name="cellphone" placeholder="Celular">
                <br>
                <div class="BloqueOpcion">
                    <label>Fecha de nacimiento</label>
                    <br>
                    <input type="date" name="dateBirth">
                </div>
                <div class="BloqueOpcion">
                    <label>Genero</label>
                    <br>
                    <select name="gender">
                        <option value="Masculino" selected>Masculino</option>
                        <option value="Femenino">Femenino</option>
                        <option value="Otro">Otro</option>
                    </select>
                </div>
                <br>
                <input type="text" name="satatus" style="display:none;">
                <div class="BloqueOpcion">
                    <label>Tipo de Usuario</label>
                    <br>
                    <select>
                        <option value="Artista">Artista</option>
                        <option value="Patrocinador">Patrocinador</option>
                    </select>
                </div>
                <br>
                <button type="submit" class="boton"><b>Registrarse</b></button>
            </form>
        </section>  
</template>

<script>
export default {
    name: "SingUp",
    data: function(){

    },
    methods: {
        buttonHome: function(){
            this.$emit('ButtonHome')
        }
    }
}
</script>

<style>
.BloqueOpcion {
    display: inline-block;  
}
</style>