<template>
  <div id="app" class="app">
    <section class="main-component">
      <section v-if="!is_auth" class="container-without">

        <section class="Imagen">
          <img src="../public/LogIn.jpg" class="ImagenLogIn">
        </section>

        <router-view
        v-on:ButtonLogIn="LoadLogIn"
        v-on:ButtonHome="LoadHome"
        v-on:ButtonSingUp="LoadSingUp"> 
        </router-view>

      </section>
    </section>

    <section class="container-with" v-if="is_auth">

      <section class="DivPageLeft">
        <section class="ImageHome">
          <img src="../images/home.png" class="ImagenH">
          <section class="TextHome">
          <h1>Home</h1>
          </section>
          </section>
        <section class="ImageRequest">
          <img src="../images/friends.png" class="ImagenR">
          <section class=TextRequest>
            <h1>Requests</h1>
          </section>
        </section>
        <section class="ImageProfile">
          <img src="../images/user.png" class="ImagenP">
          <section class="TextProfile">
          <h1>Profile</h1>
          </section>
          </section>
        <section class="NewPost">
        <button>New post</button>
        </section>
        <h1 id="Profile">
          <section class="Im">
          <img src="../images/default.jpg" class="ImagenI">
          </section>
          <section class="Nom">
          <h1>NombreUsuario<br>@usuario</h1>
          </section>
          <section class="Tuerca">
            <img src="../images/configuraciones.png" class="ImagenT">
          </section>
        </h1>
      </section>
      <section class="DivPageMain">
        <router-view>
        </router-view>
      </section>
      <section class="DivPageRight">
        <section class="Search">
        <h1>Search Teamder</h1>
        </section>
        <table border="1">
          <tbody>
            <tr>
              <th>Artist for you</th>
            </tr>
            <tr>
              <th><section class="Show">
                <button>show more</button>
                </section>
                </th>
            </tr>
            </tbody>
            </table>

            <table border="1">
          <tbody>
            <tr>
              <th>Hashtags for you</th>
            </tr>
            <tr>
              <th><section class="Show1">
                <button>show more</button>
                </section>
                </th>
            </tr>
            </tbody>
            </table>
      </section> 

    </section>
  </div>
</template>

<script>
export default {
  name: 'App',
  data: function(){
    return {
      is_auth: true
    }
  },
  methods:{
    verifyAuth: function(){
      if(this.is_auth == false)
        this.LoadHome();
      else
        this.LoadPrincipalPage();
    },
    LoadHome: function(){
      this.$router.push({name: "Home"});
    },
    LoadLogIn: function(){
      this.$router.push({name: "LogIn"});
    },
    LoadSingUp: function(){
      this.$router.push({name: "SingUp"});
    },
    LoadPrincipalPage: function(){
      this.$router.push({name: "PrincipalPage"});
    },
  },

  created: function(){
    this.verifyAuth()
  }

}
</script>

<style>
#Profile {
  display: block;
  width: 19.84%;
  text-align: center;
  bottom: 0px;
  position: fixed;
}
.Nom{
    float: left;
    margin: 0px 10px;
    font-size: 10px;
}
.container-with {
  height: fit-content;
}
.TextHome{
  float: right;
  width:0%;
  height: 20px;
  font-size: 20px;
}
.TextRequest{
  width:10%;
  height: 20px;
  font-size: 20px;
  float:right;
}
.TextProfile{
  width:0%;
  height: 20px;
  font-size: 20px;

  float:right;
}
.DivPageLeft {
  position: fixed;
  text-align: center;
  margin:0px;
  float: left;
  display: block;
  border-width: 0px;
  border-right-width: 1px;
  border-style: solid;
  border-color:lightgrey;
  width: 19.84%;
  height: 100vh;
  
}
.DivPageMain {
  
  margin: 0px 20.7%;
  display: inline-block;
  width: 60%;
  height: 100%;
}
.DivPageRight {
  Top: 10px;
  right: 0px;
  position: fixed;
  text-align: center;
  margin: 0px;
  float: right;
  display: block;
  border-width: 0px;
  border-left-width: 1px;
  border-style: solid;
  border-color: lightgrey;
  width: 19.84%;
  height: 100vh;
}
select {
  font-family: 'Roboto', sans-serif;
  border-width: 0px;
  border-radius: 3px;
  border-style: solid;
  border-bottom-width: 3px;
  border-color: #f1f4c6;
  background-color:#f1f4c6;
  height: 30px;
  width: 200px;
  margin: 10px;
}
input {
  font-family: 'Roboto', sans-serif;
  border-width: 0px;
  border-radius: 3px;
  border-style: solid;
  border-bottom-width: 3px;
  border-color: #f1f4c6;
  background-color:#f1f4c6;
  height: 30px;
  width: 200px;
  margin: 10px;
}
select:hover {
  border-color: #009f9d;
  transition:0.2s;
}
input:hover {
  border-color: #009f9d;
  transition:0.2s;
}
.titulo {
  height: 96px;
  width: fit-content;
  cursor: pointer;
  display: block;
  border-style: solid;
  border-width: 0px;
  margin: 20px;
}
.titulo span{
  display: block;
  border-style: solid;
  border-width: 0px;
  border-bottom-width: 3px;
  border-color:#009f9d;
  font-size: 60px;
  margin: 2px;
}
button {
  background-color:#009f9d;
  color:black;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  border-width: 0px;
}
.NewPost button {
  background-color: #009f9d;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    border-width: 0px;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    font-weight: 600;

    }
.Show button {
    background-color:Transparent;
    color: #009f9d;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    border: none;
    font-weight: 600;
    }
.Show1 button {
    background-color:Transparent;
    color: #009f9d;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    border: none;
    font-weight: 600;
    }
.boton:hover {
  background-color: #a2eae2;
  transition: 0.5s;
}
.boton{
  margin:20px;
  cursor: pointer;
  border-radius: 3px;
  height: 60px;
  width: 200px;
}
.container {
  display: flex;
}
.Form{
  height: fit-content;
  width: 450px;
  padding: 20px;
  align-self: center;
  text-align: center;
}
body {
  margin: 0 0 0 0;
}
.Imagen{
  width: 40%;
  padding: 20px 50px;
  margin: 0px 50px 0px 100px;
}
.ImageHome{
  padding: 40px 40px 15px 50px; 
  margin: 10px 20px -40px;
  border: 2px;
  float: left; 
}
.ImageRequest{ 
  padding: 0px 150px 15px 50px;
   margin: 10px 20px -40px;
   border: 2px;
   float: left; 
}
.ImageProfile{ 
  padding: 0px 40px 40px 50px;
  margin: 10px 17px 10px;
   border: 2px;
   float: left; 
}
.container-without {
  display: flex;
  margin: 0px;
}
.app {
  height: 100vh;
  padding: 10px 20px; 
  color:beige;
  background-color: black;
  font-family: 'Roboto', sans-serif;
}
.ImagenLogIn {
  width: 500px;
  height: 600px;
}
.ImagenH {
  width: 20px;
  padding-top: 25px;
  height: 20px;
}
.ImagenR {
  width: 20px;
  height: 20px;
  padding-top: 25px;
}
.ImagenP {
  width: 20px;
  height: 20px;
  padding-top: 25px;
}
.ImagenI {
  width: 40px;
  height: 40px;
  border-radius: 160px;
  float:left;
}
.ImagenT {
  width: 20px;
  height: 20px;
  padding-top: 20px;
}
.Search{
  border-width: 0px;
  border-bottom-width: 1px;
  border-style: solid;
  border-color: lightgray;
  font-size: 10px;
}
table {
   width: 100%;
   border: 1px solid #fff;
   padding-top:50px;
}
th, td {
   width: 25%;
   text-align: center;
   vertical-align: top;
   border: 1px solid #fff;
   border-spacing: 0;
   padding-top:5px;
}
</style>
